* {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.initial-container {
    border-style: solid 25px black;
    background-color: silver;
    padding: 20px 0 20px 20px;
    width: 270px;
}

body {
    margin-left: 10px;
}

#container > * {
    margin-top: 5px;
}
