* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
}


.initial-container {
    border-style: solid 25px black;
    background-color: silver;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 0 30px 24px;
    width: 270px;
}

.initial-container input {
    width: 236px;
}

.initial-info {
    text-align: center;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 8px;
}

/* Hide number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    margin-left: 10px;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.conversion-block {
    display: inline-block;
    border: 4px solid black;
    margin: 10px 10px 0 0;
    padding: 5px;
}

.conversion-block p {
    margin: 4px 0px 6px 0px;
}

.conversion-block input {
    margin: 0px 0px 8px 0px;
}


@media screen and (max-width: 1020px) { 
    
    body {
        margin: 0;
    }

    .initial-container {
        margin: 0;
        padding: 8px 0 12px 0;
        width: 100%;
    }

    .initial-container p {
        font-size: 72px;
    }

    .initial-container input {
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        display: block;
        text-align: center;
        font-size: 68px;
        width: 500px;
    }

    .conversion-block {
        width: 45%;
        margin: 8px 8px;
    }

    .conversion-block p {
        font-size: 32px;
        margin-bottom: 6px;
        font-weight: bold;
    }

    .conversion-block input {
        font-size: 48px;
        width: 400px;
    }
} 
