body {
    margin: 0;
    background-color: aliceblue;
}

.btn-common {
    border: 3px solid black;
    border-radius: 25px;
    width: 160px;
    height: 50px;
    transition: 0.2s all;
}


.btn-common:active {    
    /* scale() - wobbly text problem */
	/* transform: scale(0.98); */
    transform: translate3d(0px, 2px, -10px);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
}
