body {
    display: flex;
}

.field, #next-figure {
    white-space: pre;
    font-family: monospace;
    margin-bottom: 10px;
}

.game {
    margin: 10px 20px;
    font-size: 26px;
}

.info {
    margin: 10px 10px;
}

.info-line {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 28px;
}

.next-figure-field {
    font-size: 28px;
    font-weight: bold;
    color: royalblue;
}

.control-buttons {
    margin-top: 50px;
    align-items: center;
}

.control-buttons div {
    margin: 2px;
    text-align: center;
}

.control-buttons button {
    font-size: 14px;
    width: 60px;
    height: 36px;
    margin-bottom: 4px;
}
