.controls {
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    width: 440px;
    height: 272px;
    margin: auto auto;
    background-color: lightblue;
    text-align: center;
}

.fs-button-container {
    margin: 20px 0 0 0;
    text-align: center;
}

.fullscreen-button {
    width: 160px;
    height: 28px;
    border: 2px solid black;
    border-radius: 3px;
}

.slider-block-header {
    font-size: 26px;
}

.slider {
    display: block;
    margin: 0;
    width: 400px;
    margin: 0 auto;
}

#slider-label {
    display: block;
    margin: 4px;
    font-size: 48px;
}

#fullscreen-button {
    width: 256px;
    height: 64px;
    font-size: 20px;
    border: solid black 2px;
    border-radius: 16px;
    background-color: lightcyan;
    background-color: #A3E4D7;
}

/* Animations */

.remove-animation {
    animation-name: invis;
	animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes invis {
	from {opacity: 60%;}
	to {opacity: 0%;}
}

.add-animation {
    animation-name: reveal;
	animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes reveal {
	from {opacity: 0%;}
	to {opacity: 60%;}
}
